## Config file

user nobody;
group nobody;

max-workers	20;
min-workers	20;
start-workers	20;

max-requests	1m;
max-idle	0;

FastCGI {
	privileged;

	# you can redefine default settings for FastCGI
}

# other applications...

include conf.d/*.conf;
