## Config file

user nobody;
group nobody;

max-workers	8;
min-workers	8;
start-workers	8;
max-idle	0;

Pool:FastCGIServer {
	# you can redefine default settings for FastCGI
}

#Pool:HTTPServer {
	# you can redefine default settings for FastCGI
#}

Pool:WebSocketServer {
}

Example {
	# config of your application Example
}

# other applications...

include conf.d/*.conf;
